@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<h4>Add a new stylist</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new client"/>

    @Html.LabelFor(model => model.PhoneNumber)
    @Html.TextBoxFor(model => model.PhoneNumber)
    <input type="submit" value="Add phone number"/>
  
    
}

<p>@Html.ActionLink("Show all clients", "Index", "Clients")</p>