@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    <p>@Html.HiddenFor(model => model.StylistId)</p>
    <p>Name</p>
    <p>@Html.EditorFor(model => model.Name, new { @class = "form-control", required="required", style="width: 300px;"})</p>
    <p>Phone</p>
    <p>@Html.EditorFor(model => model.Number, new { @class = "form-control", required="required", style="width: 300px;"})</p>
    <br>
    <input type="submit" value="Save" class="btn"/>
}
<br>
<p>@Html.ActionLink("Back to stylists", "Index")</p>