@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.Name)  @Html.DisplayFor(model => model.PhoneNumber)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.PhoneNumber)
    @Html.EditorFor(model => model.PhoneNumber)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>