@{
  Layout = "_Layout";
}

@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>@Html.DisplayFor(model => model.Name)</h2>
<p>Stylist: @Html.DisplayFor(model => model.Stylist.Name)</p>
<hr />
<br>
<p>Phone: @Html.DisplayFor(model => model.Number)</p>

<br>
<hr />



<p>@Html.ActionLink("Edit client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete client", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to clients", "Index")</p>